# =========================
# Python (Backend)
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Node / React (Frontend)
# =========================
node_modules/
build/
dist/
.next/
out/

# =========================
# Environment Variables
# =========================
.env

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor Files
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.sqlite3